@font-face {
    font-family: Ontel;
    src: url("fonts/Ontel-YzV0a.ttf");
}

@font-face {
    font-family: Zen-Regular;
    src: url("fonts/ZenMaruGothic-Regular.ttf");
}

@font-face {
    font-family: Zen-Bold;
    src: url("fonts/ZenMaruGothic-Bold.ttf");
}

* { margin: 0; border-box: none; }
html, body { background-color: #D64E24; height: 100%; }

h1 { font-family: Ontel; color: white; font-size: 60pt; }
h2 { font-family: Zen-Bold; color: white; }
h3 { font-family: Zen-Bold; color: white; }
p { font-family: Zen-Regular; color: white; }

a img:hover { opacity: 60%;  }

.center-flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
